html, body, #content, #query-panel {
	height: 100%;
}

/* annotate panel */
#a-d-container {
	display: inline-block;
	margin: 0;
	position: relative;
}

#a-d-container img {
	position: absolute;
}

#a-d-container canvas {
	position: absolute;

}

/* query panel */
#q-top, #q-results {
	height: 50%;
}

#q-top {
	display: grid;
	grid-template-columns: 200px auto;
}

#q-organizer {
	height: 100%;
	float: left;
	display: flex;
	flex-flow: column;
}

#q-node-list {
	height: 100%;
	border: 1px solid;
}

.q-btn-node {
	width: 100%;
}

#q-run-div {
	height: 100%;
	display: flex;
	flex-flow: column;
}

#q-node-code-div {
	flex-grow: 1;
}

#q-node-code {
	height: 100%;
	width: 100%;
}

#q-exec-test-btn, #q-exec-run-btn {
	width: 100%;
}

.q-results-row {
	display: flex;
	flex-direction: row;
}

.q-results-col {
	flex-grow: 1;
	flex-shrink: 1;
	padding: 5px;
}

.q-result-img {
	max-width: 100%;
}
